<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="flex h-screen w-full flex-col items-center justify-center gap-4 bg-[url(/img/grid.svg)] font-sans text-black">
        <h1 class="text-2xl">Project Starting</h1>
        <p class="text-xl">Academic Slot Booking. we will be starting our project. This is a basic template</p>
      </div>      
</body>
</html>